<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
        </exclude>
    </coverage>
    <php>
        <env name="PPLIVE_DB_HOST" value="localhost"/>
        <env name="PPLIVE_DB_NAME" value="test_purepressure"/>
        <env name="PPLIVE_DB_USER" value="test_user"/>
        <env name="PPLIVE_DB_PASS" value="test_pass"/>
        <env name="PPLIVE_DB_CHARSET" value="utf8mb4"/>
    </php>
</phpunit>